<?xml version="1.0" encoding="UTF-8"?>
<web-app version="3.1" xmlns="http://xmlns.jcp.org/xml/ns/javaee" xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:schemaLocation="http://xmlns.jcp.org/xml/ns/javaee http://xmlns.jcp.org/xml/ns/javaee/web-app_3_1.xsd">
    <servlet>
        <servlet-name>controlador</servlet-name>
        <servlet-class>controlador.controlador</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>puesto</servlet-name>
        <servlet-class>controlador.puesto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>empleado</servlet-name>
        <servlet-class>controlador.empleado</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>cliente</servlet-name>
        <servlet-class>controlador.cliente</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedores</servlet-name>
        <servlet-class>controlador.proveedores</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>proveedor</servlet-name>
        <servlet-class>controlador.proveedor</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>marca</servlet-name>
        <servlet-class>controlador.marca</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>producto</servlet-name>
        <servlet-class>controlador.producto</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>img</servlet-name>
        <servlet-class>controlador.img</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>Mdetalle1</servlet-name>
        <servlet-class>controlador.Mdetalle1</servlet-class>
    </servlet>
    <servlet>
        <servlet-name>mdet1</servlet-name>
        <servlet-class>controlador.mdet1</servlet-class>
    </servlet>
    <servlet-mapping>
        <servlet-name>controlador</servlet-name>
        <url-pattern>/controlador</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>puesto</servlet-name>
        <url-pattern>/puesto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>empleado</servlet-name>
        <url-pattern>/empleado</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>cliente</servlet-name>
        <url-pattern>/cliente</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedores</servlet-name>
        <url-pattern>/proveedores</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>proveedor</servlet-name>
        <url-pattern>/proveedor</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>marca</servlet-name>
        <url-pattern>/marca</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>producto</servlet-name>
        <url-pattern>/producto</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>img</servlet-name>
        <url-pattern>/img</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>Mdetalle1</servlet-name>
        <url-pattern>/Mdetalle1</url-pattern>
    </servlet-mapping>
    <servlet-mapping>
        <servlet-name>mdet1</servlet-name>
        <url-pattern>/mdet1</url-pattern>
    </servlet-mapping>
    <session-config>
        <session-timeout>
            30
        </session-timeout>
    </session-config>
</web-app>
